.menuItems {
  font-weight: bold;
  font-size: 1.5rem;
}

.subMenuButton {
  display: flex;
  flex-direction: column;
}

.subMenuItems {
  font-weight: 200;
  font-size: 1rem;
}

ul .dropdown {
  margin-left: 2rem;
}
.dropdownButton {
  cursor: pointer;
}
