.toggleNav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 2rem;
}

.hamburgerIcon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 50;
  flex-direction: row-reverse;
  display: flex;
  gap: 2px;
}


