

.menu {
  position: absolute;
  width: 100vw;
  background: var(
    --Gradient-Frame,
    linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%)
  );
  height: 80rem; /* ugly solution but solves underlying page to show underneath */
  padding: 2rem;
  z-index: 100;
}

.hamburgerIcon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 50;
  flex-direction: row-reverse;
  display: flex;
  gap: 2px;
  cursor: pointer;
}


