

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(
    --Gradient-Frame,
    linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%)
  );
  min-height: 100vh;
  padding: 2rem;
}

.hamburgerIcon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 50;
  flex-direction: row-reverse;
  display: flex;
  gap: 2px;
}


