@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background: var(
      --Gradient,
      linear-gradient(180deg, #ececff 0%, #99b6ff 100%)
    );
    min-height: 100vh;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

ul .dropdown {
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.subMenuItems {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
}
