.background {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.exitButton {
  display: flex;
  width: 100%;
  justify-content: end;
}
  .wrapper {
    padding: 4rem 2rem;
    word-wrap: break-word;
  }
  
  .wrapper h1 {
    font-family: var(--Semi-Bold-Display);
    font-size: 1.75rem;
    font-weight: bold;
    text-align: start;
    line-height: 1.2;
  }
  
  .intro {
    font-family: var(--Light-Display);
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: start;
    line-height: 1.2;
  }
  
  .list ul {
    font-family: var(--Light-Display);
    margin-top: 1rem;
    padding-left: 2rem;
    text-align: start;
  }
  
  .list li {
    font-size: 1rem;
    list-style-type: disc;
    padding-top: 1rem;
    font-family: var(--Light-Display);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
  }
  