.headingOne {
  margin-top: 2rem;
  margin-bottom: 60px;
  font-family: var(--Semi-Bold-Display);
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px; /* 107.143% */
  letter-spacing: 1.4px;
  text-align: left;
  width: 100%;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  padding: 2.62rem 2rem;
}

.serviceForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 10px; */
}

.headingTwo {
  font-family: var(--Semi-Bold-Display);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputField {
  font-family: var(--Light-Display);
  font-size: 18px;
  font-style: normal;
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  /* z-index: 5; */
}

.dropDown {
  /* position: absolute; */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  /* border-left: 1px solid var(--Stroke-grey, #747373); 
  border-right: 1px solid var(--Stroke-grey, #747373);  */
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  width: 88%;
  left: 6%;
  top: 0%;
  padding-left: 30px;

  /* z-index: 10; */
}

.dropDown ul option {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.priceInputField .dropDown ul {
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--Stroke-grey, #747373);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* 
.dropDown ul:hover {
  background: rgb(225, 218, 218);
  cursor: pointer;
} */

.arrowImg {
  position: absolute;
  right: 16px;
  top: 15px;
}

/* amount of users */

.usersInputField {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  height: 44px;
}

/* price field*/
.priceInputField {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 44px;
}

/* Date field*/
.dateInputField {
  width: 100%;
  height: 30px;
}

.datefieldContainer {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  height: 44px;
}

/*sumbit*/
.saveBtn {
  border-radius: 30px;
  background: var(--Background, #e6e7fe);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 85px;
}

.saveBtn:focus {
  background-color: var(--on-secondary);
  color: white;
}

.saveBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
