@font-face {
    font-family: "SequelSans-BoldDisp";
    src:
      local("Sequel Sans Bold Display"),
      url("../public/fonts/SequelSans_BoldDisplay.woff2") format("Web Open Font Format 2"),
  }
  @font-face {
    font-family: "SequelSans-BoldHead";
    src:
      local("Sequel Sans Bold Head"),
      url("../public/fonts/SequelSans_BoldHead.woff2") format("Web Open Font Format 2"),
  }
  @font-face {
    font-family: "SequelSans-LightDisp";
    src:
      local("Sequel Sans Light Display"),
      url("../public/fonts/SequelSans_LightDisp.woff2") format("Web Open Font Format 2"),
  }
  @font-face {
    font-family: "SequelSans-MediumHead";
    src:
      local("Sequel Sans Medium Head"),
      url("../public/fonts/SequelSans_MediumHead.woff2") format("Web Open Font Format 2"),
  }
  @font-face {
    font-family: "SequelSans-SemiBoldDisp";
    src:
      local("Sequel Sans Medium Head"),
      url("../public/fonts/SequelSans_SemiBoldDisp.woff2") format("Web Open Font Format 2"),
  }
  