@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --secondary: #9999ff;
  --on-secondary: #000000;
  --background: #e6e7fe;
  --background-blue: #99b6ff;
  --stroke-grey: #747373;
  --primary-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);

  /* color styles */
  --primary: linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%);
  /* fonts */
  --Bold-Display: "SequelSans-BoldDisp", "Inter", sans-serif;
  --Bold-Head: "SequelSans-BoldHead", "Inter", sans-serif;
  --Light-Display: "SequelSans-LightDisp", "Inter", sans-serif;
  --Medium-Head: "SequelSans-MediumHead", "Inter", sans-serif;
  --Semi-Bold-Display: "SequelSans-SBoldDisp", "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background: var(
      --Gradient-Frame,
      linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%)
    );
    min-height: 100vh;
  }

  /* h1 {
    font-family: var(--Bold-Display);
    font-size: 1.75rem;
    line-height: 30;
    letter-spacing: 5%;
  } */

  /* h2 {
    font-family: var(--Light-Display);
    font-size: 2rem;
  }

  p {
    font-family: var(--Light-Display);
    font-size: 1.25rem;
  } */

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input {
    font-family: var(--Light-Display);
    font-size: 1.25rem;
  }
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

/* HamburgerMenu */
ul .dropdown {
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.subMenuItems {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
}
