@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%);

  --primary-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
  /* --font-size: 16px;
  --border-radius: 8px; */
}

* {
  box-sizing: border-box;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background: var(
      --Gradient-Frame,
      linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%)
    );
    min-height: 100vh;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

/* HamburgerMenu */
ul .dropdown {
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.subMenuItems {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
}

/* contact/support, contact/about */
.exitButton {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 50;
  flex-direction: row-reverse;
  display: flex;
  gap: 2px;
}

.wrapper {
  padding: 5rem 2rem;
  word-wrap: break-word;
}

.wrapper h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: start;
  line-height: 1.2;
}

.intro {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: start;
  line-height: 1.2;
}

.wrapper ul {
  margin-top: 1rem;
  padding-left: 1rem;
  text-align: start;
}

.wrapper li {
  font-size: 1rem;
  list-style-type: disc;
  padding-top: 1rem;
}
