@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SequelSans-BoldDisp";
  src: local("Sequel Sans Bold Display"),
    url("../public/fonts/SequelSans_BoldDisplay.woff2")
      format("Web Open Font Format 2");
}
@font-face {
  font-family: "SequelSans-BoldHead";
  src: local("Sequel Sans Bold Head"),
    url("../public/fonts/SequelSans_BoldHead.woff2")
      format("Web Open Font Format 2");
}
@font-face {
  font-family: "SequelSans-LightDisp";
  src: local("Sequel Sans Light Display"),
    url("../public/fonts/SequelSans_LightDisp.woff2")
      format("Web Open Font Format 2");
}
@font-face {
  font-family: "SequelSans-MediumHead";
  src: local("Sequel Sans Medium Head"),
    url("../public/fonts/SequelSans_MediumHead.woff2")
      format("Web Open Font Format 2");
}
@font-face {
  font-family: "SequelSans-SemiBoldDisp";
  src: local("Sequel Sans Medium Head"),
    url("../public/fonts/SequelSans_SemiBoldDisp.woff2")
      format("Web Open Font Format 2");
}

:root {
  /* colors */
  --secondary: #9999ff;
  --on-secondary: #000000;
  --background: #e6e7fe;
  --background-blue: #99b6ff;
  --stroke-grey: #747373;

  /* box-shadows */
  --primary-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
  --button-small: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);

  /* color styles */
  --primary-color: linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%);
  --gradient-button: linear-gradient(
    180deg,
    rgba(244, 240, 255, 0.67) 21.35%,
    #99b6ff 100%
  );
  --gradient-2: linear-gradient(180deg, #c1c3ff 23.58%, #6d91e7 100%);

  /* fonts */
  --Bold-Display: "SequelSans-BoldDisp", "Inter", sans-serif;
  --Bold-Head: "SequelSans-BoldHead", "Inter", sans-serif;
  --Light-Display: "SequelSans-LightDisp", "Inter", sans-serif;
  --Medium-Head: "SequelSans-MediumHead", "Inter", sans-serif;
  --Semi-Bold-Display: "SequelSans-SemiBoldDisp", "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background: var(--gradient-button);
    min-height: 100vh;
  }

  .welcomePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcomePage h1 {
    text-align: center;
    font-family: var(--Bold-Display);
    font-weight: bold;
    font-size: 1.75rem;
    letter-spacing: 5%;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input {
    font-family: var(--Light-Display);
    font-size: 1.25rem;
  }
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

/* HamburgerMenu */
ul .dropdown {
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.subMenuItems {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
}
