.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 6rem;
}

.logo {
  margin-top: 3.38rem;
  display: flex;
  justify-content: center;
}

.headingOne {
  font-family: var(--Semi-Bold-Display);
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 550;
  line-height: 1.875rem; /* 107.143% */
  letter-spacing: 0.0875rem;
  margin-top: 3rem;
}

.headingTwo {
  text-align: center;
  font-family: var(--Light-Display);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  font-family: var(--Light-Display);
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.62rem;
  display: inline-flex;
  padding: 0.5rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--background);
  box-shadow: var(--button-small);
}

.button:active {
  background: var(--on-secondary);
  color: white;
}


.login {
  margin-top: 1.62rem;
}

.loginText {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login a:active {
  text-decoration: underline;
}

