.headingOne {
  margin-top: 100px;
  margin-bottom: 60px;
  color: var(--OnSecondary, #000);
  font-family: var(--Semi-Bold-Display);
  font-size: 28px;
  font-style: normal;
  font-weight: 420;
  line-height: 30px; 
  letter-spacing: 1.4px;
  text-align: left;
  width: 100%;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  position: relative;
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 32px 0px 32px;
  border-radius: 30px 30px 0px 0px;
  background: var(
    --Gradient-Frame,
    linear-gradient(180deg, #f4f0ff 13.02%, #99b6ff 100%)
  );

  /* Card */
  box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.2);
  min-height: 80vh;
}
.logoImg {
  margin-top: 35px;
  margin-bottom: 35px;
}
.serviceForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 10px; */
}

.headingTwo {
  font-family: var(--Semi-Bold-Display);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputField {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 5;
}
.dropDown {
  position: absolute;
  /* border-radius: 30px; */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  /* border: 1px solid var(--Stroke-grey, #747373); */
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  width: 88%;
  left: 6%;
  top: 0%;
  z-index: 10;
}

.dropDown ul {
  padding-left: 30px;
  padding-bottom: 10px;
}

.dropDown ul:hover {
  background: rgb(225, 218, 218);
  cursor: pointer;
}

.arrowImg {
  position: absolute;
  right: 16px;
  top: 15px;
}

/* amount of users */

.usersInputField {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  height: 44px;
  position: relative;
}

/* price field*/
.priceInputField {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 44px;
}

/* Date field*/
.dateInputField {
  width: 100%;
  height: 30px;
}

.datefieldContainer {
  border-radius: 30px;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  height: 44px;
}

/*sumbit*/
.saveBtn {
  font-family: var(--Light-Display);
  border-radius: 30px;
  background: var(--Background, #e6e7fe);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 85px;
}

.deleteBtn {
  font-family: var(--Light-Display);
  border-radius: 30px;
  background: var(--Background, #e6e7fe);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.deleteBtn:active {
  background-color: var(--on-secondary);
  color: white;
}

.saveBtn:active {
  background-color: var(--on-secondary);
  color: white;
}

.saveBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.loading {
  animation: spin 1s linear infinite;
  margin-top: 60px;
  margin-bottom: 55px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.backContainer {
  position: absolute;
  top: 3.8rem;
  left: 1.75rem;
}


.deleteFormContainer {
  font-family: var(--Light-Display); 
  position: fixed;
  width: 347px;
  height: 347px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; 

  border-radius: 20px;
  background: var(
    --Gradient-button,
    linear-gradient(180deg, #e9e9ff 46.35%, #99b6ff 86.46%)
  );

  /* button large */
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteFormContainer p {
  color: var(--OnSecondary, #000);
  text-align: center;
  font-family: var(--Light-Display); 
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.confirmationBtnContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.confirmationBtnContainer button {
  border-radius: 30px;
  background: var(--Background, #e6e7fe);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  width: 63px;
}

.confirmationBtnContainer button:active {
  background-color: var(--on-secondary);
  color: white;
}
