.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
}

.headingOne {
  font-family: var(--Semi-Bold-Display);
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.875rem; /* 107.143% */
  letter-spacing: 0.0875rem;
  margin-top: 3.5rem;
  margin-bottom: 50px;
}

.form {
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.input {
  background-color: inherit; /* Equivalent to bg-inherit in Tailwind CSS */
  border-bottom: 1px solid currentColor; /* Equivalent to border in Tailwind CSS */
  margin-bottom: 1.5rem;
}

.login {
    margin-top: 1.62rem;
    display: inline-flex;
    padding: 0.5rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: var(--background);
    box-shadow: var(--button-small);
  }