.headingOne {
  font-size: 28px;
  font-style: normal;
  font-weight: 420;
  line-height: 30px; /* 107.143% */
  letter-spacing: 1.4px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.pageWrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.searchField {
  font-size: 1.25rem;
  border-radius: 1.875rem;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;

  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
}

.categoryButton {
  font-family: var(--Light-Display);
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);
  border-radius: 1.875rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.categoryButton :active {
  border: 1px solid #000;
}

.sectionTwo {
  margin-top: 1.19rem;
  margin-bottom: 1.19rem;
}

.sectionThree {
  margin-top: 1.19rem;
  margin-bottom: 1.19rem;
}

.sectionThreeInfo {
  font-style: normal;
  font-weight: 375;
}

.total, .amount{
  display: flex;
  justify-content: space-between;
}

.result {
  font-family: var(--Light-Display);
  font-style: normal;
}