.pageWrapper {
  padding-top: 2.62rem;
}

.back {
  padding-left: 1.75rem;
}

.logo {
  position: relative;
  /* top: -0px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.headingOne {
  padding-left: 1.75rem;
  font-family: var(--Semi-Bold-Display);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.875rem; /* 107.143% */
  letter-spacing: 0.0875rem;
}

.headingTwo {
  margin-bottom: 2rem;
  font-family: var(--Semi-Bold-Display);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.875rem; /* 107.143% */
  letter-spacing: 0.0875rem;
}

.infoSection {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: var(--gradient-button);
  width: 100vw;
  background: var(--primary-color);
  box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem 1.75rem 10rem 1.75rem;
  margin-top: 3rem;
}

.infoRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.headingThree {
  font-family: var(--Semi-Bold-Display);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.value {
  font-family: var(--Light-Display);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
}

.buttonWrapper {
  margin-top: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.changePlanBtn {
  border-radius: 30px;
  background: var(--Background, #e6e7fe);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.35);
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.backContainer {
  position: absolute;
  /* top: 3.8rem; */
  left: 1.75rem;
}
