.headingOne {
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px; 
  letter-spacing: 1.4px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.headingTwo {
  text-align: center;
  font-family: var(--Light-Display);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.headingThree {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: var(--Light-Display);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 0%; 
}

.pageWrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 6rem;
}

.searchField {
  margin-top: 3.63rem;
  display: flex;
  font-size: 1.25rem;
  border-radius: 1.875rem;
  border: 1px solid var(--Stroke-grey, #747373);
  background: #fff;
  background-image: url("/images/navigation/plus.svg");
  background-repeat: no-repeat;
  background-position: right 2rem center;
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
}

.sectionTwo {
  margin-top: 1.19rem;
  margin-bottom: 1.19rem;
}

.totalCostStyling {
  margin-bottom: 32px;
}

/*subscriptions-section*/

.loadingContainer {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.loading {
  animation: spin 1s linear infinite;
}

.ready {
  font-family: var(--Light-Display);
  font-weight: 300;
  font-size: 1.25rem;
  
  display: inline-flex;
  width: 100%;
  padding: 0.5rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--background);
  box-shadow: var(--button-small);
}

.ready:active {
  background: var(--on-secondary);
  color: white;
}