.brandBoxWrapper {
  display: flex;
  flex-direction: column;
  height: 7.5rem;
  align-items: center;
  padding-top: 1.5rem;
  padding-right: 2.13rem;
  padding-left: 1rem;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  background: var(--gradient-button);
  box-shadow: var(--primary-box-shadow);
  gap: 1.81rem;
}

.serviceContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.imageContainer {
  position: relative;
  max-width: 45px;
  max-height: 36px;
  min-height: 30px;
  min-width: 30px;
}

.serviceNameHeading {
  font-family: var(--Light-Display);
  font-size: 20px;
}

.changePlan {
  display: flex;
  width: 100%;
  justify-content: end;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: var(--Light-Display);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
